*{
    margin: 0;
    padding: 0;
}
.div1{
    background-color: #33485D;
    text-align: center;
    padding: 20px;
}
.div2{
    background-color: #E67E22;
    
    text-align: center;
    
}
.div-2 {
    display: inline-block;
   text-align: center;
    
   padding-top: 150px;
   padding-bottom: 150px;
}
.div-2 img{
    
    box-shadow: 10px 20px 10px white;
    max-width: 100%;
}
.div3{
   background-color: #33485D; 
   text-align: center;
   padding: 100px;
   color: white;
}
.div3 h1{
    color: white;
    font-size: 50px;
}
.div3 h3{
    font-size: 30px;
    color: #3498DB;
}
.div4{
    background-color: #9B59B6;
    text-align: center;
    padding: 50px;
    color: white;
}
.div-4{
    color: green;
}
.div-42{
    color:goldenrod;
}
.div-43{
    color: #95A5A6;
}
.div5{
     background-color: #FF9814;
     text-align: center;
     padding: 50px;
     
}
.div-5{
    width: 400px;
    height: 100px;
    display: inline-block;
    border-style: dashed;
    border-radius: 10px;
    text-align: center;
    background-color: #DCDCDC;
    font-size: 50px;
    box-shadow: 20px 20px  white;
    
}

.div6{
    background-color:  #33485D;  
    padding: 10px;
    color: white;
    text-align: center;
}